#sprite-container {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999999;
}

/* SPRITE STYLES */
#sprite-container .sprite {
    display: inline-block;
}

#sprite-container.stopped .sprite{
    animation: none !important;
}

/*  -- Cat Solider */
#sprite-container .sprite.cat-soldier {
    width: 120px;
    height: 150px;
    animation: play_cat-soldier 0.8s steps(6) infinite;
}
#sprite-container.moving-left .sprite.cat-soldier {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
@keyframes play_cat-soldier {
    100% { background-position: 0 -900px; }
}

/*  -- Sir Nerdington */
#sprite-container .sprite.sir-nerdington {
    width: 80px;
    height: 80px;
    animation: play_sir-nerdington 0.8s steps(6) infinite;
}
#sprite-container.moving-left .sprite.sir-nerdington {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
@keyframes play_sir-nerdington {
    100% { background-position: 0 -480px; }
}

/*  -- The Robot */
#sprite-container .sprite.the-robot {
    width: 142px;
    height: 80px;
    animation: play_the-robot 0.8s steps(20) infinite;
}
#sprite-container.moving-right .sprite.the-robot {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
@keyframes play_the-robot {
    100% { background-position: 0 -1600px; }
}

/*  -- Puppy */
#sprite-container .sprite.puppy {
    width: 130px;
    height: 130px;
    animation: play_puppy 0.8s steps(8) infinite;
}
#sprite-container.moving-left .sprite.puppy {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
@keyframes play_puppy {
    100% { background-position: 0 -1040px; }
}